---

---

<!-- Parte de Leonard -->
<div
  class="bg-[#1C1111] flex flex-col items-center justify-start px-4 md:px-24 py-8 w-full"
>
  <div
    class="container mx-auto flex flex-col justify-center items-center lg:px-48"
  >
    <h1
      class="text-white text-center font-bold text-2xl md:text-[32px] w-full font-inria"
    >
      Sé parte de esta nueva experiencia
    </h1>
    <p
      class="text-white text-center mt-3 w-full text-sm md:text-base font-normal font-poppins"
    >
      Únete a Sonorus, comparte tus playlists y descubre personas auténticas que
      sienten la música como tú. Vive nuevas experiencias con una comunidad
      donde cada afinidad musical se transforma en una conexión real.
    </p>
    <button
      class="py-3 px-6 md:px-10 bg-white text-black rounded-full gap-3 cursor-pointer flex items-center font-p transition duration-300 transform hover:scale-105 mt-5"
      >Únete a la comunidad<img
        src="/iconForButtonBlack.svg"
        alt="icono"
        class="w-auto h-5 transition-transform duration-300"
        loading="eager"
      />
    </button>
    <div class="w-full h-[2px] bg-white/30 my-6"></div>

    <div
      class="w-full flex flex-col md:flex-row items-center justify-between gap-4 py-6 md:py-10 px-4"
    >
      <a
        href="#inicio"
        class="font-h flex items-center font-bold text-xl md:text-2xl text-white"
      >
        <img
          src="/logo.webp"
          alt="Logo"
          class="h-10 md:h-16 w-auto mr-2"
          loading="lazy"
        />
        Sonorus
      </a>
      <div
        class="w-full md:w-auto text-center text-white text-xs py-4 opacity-70"
      >
        © 2025 IEEE | All Rights Reserved
      </div>
      <div class="flex justify-center items-center gap-4 md:gap-6">
        <a
          href="https://facebook.com"
          target="_blank"
          class="w-10 h-10 md:w-14 md:h-14 rounded-full bg-white flex items-center justify-center hover:scale-110 transition-transform duration-300"
          aria-label="Facebook"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M13.397 20.997v-8.196h2.765l.411-3.209h-3.176V7.548c0-.926.258-1.56 1.587-1.56h1.684V3.127A22 22 0 0 0 14.201 3c-2.444 0-4.122 1.492-4.122 4.231v2.355H7.332v3.209h2.753v8.202z"
            ></path>
          </svg>
        </a>
        <a
          href="https://linkedin.com"
          target="_blank"
          class="w-10 h-10 md:w-14 md:h-14 rounded-full bg-white flex items-center justify-center hover:scale-110 transition-transform duration-300"
          aria-label="LinkedIn"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M4.983 2.821a2.188 2.188 0 1 0 0 4.376 2.188 2.188 0 1 0 0-4.376M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66zm-6.142 0H6.87v12.139H3.095z"
            ></path>
          </svg>
        </a>
        <a
          href="https://x.com"
          target="_blank"
          class="w-10 h-10 md:w-14 md:h-14 rounded-full bg-white flex items-center justify-center hover:scale-110 transition-transform duration-300"
          aria-label="x (Twitter)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M13.68 10.62 20.24 3h-1.55L13 9.62 8.45 3H3.19l6.88 10.01L3.19 21h1.55l6.01-6.99 4.8 6.99h5.24l-7.13-10.38Zm-2.13 2.47-.7-1-5.54-7.93H7.7l4.47 6.4.7 1 5.82 8.32H16.3z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
