---

---

<!-- Aqui empezar trabajo de Piero -->
<section
  class="h-[400px] md:h-[600px] flex justify-center items-center md:items-start flex-col gap-5 text-white text-center md:text-left bg-gradient-to-br from-[#831011] via-[#300000] to-[#831011] px-10 md:px-30"
>
  <h1 class="font-h font-bold text-4xl md:text-8xl italic">Sonorus</h1>
  <p class="font-p font-light">
    Conecta con personas que sienten la música <span class="font-bold"
      >como tú</span
    >. Comparte, descubre y vibra en comunidad.
  </p>
  <button
    class="py-3 px-6 bg-black text-white rounded-full gap-3 cursor-pointer flex items-center font-p transition duration-300 transform hover:scale-105"
    >Únete a la comunidad<img
      src="/iconForButton.svg"
      alt="icono"
      class="w-auto h-5 transition-transform duration-300"
    />
  </button>
</section>

<!-- Aquí continuar trabajo de Angel -->

    <section class="bg-black text-white">

    
    <article>

        <section>
            <!--<img src="Images/Deftones.jpg" />
                <img src="Images/My_Chemical_Romance.jpg" />
                <img src="Images/Paramore.jpg" />
                <img src="Images/The_Smiths.jpg" />
                <img src="Images/The_Strokes.jpg" /> -->
        </section>

        <section>
            <div>
                <h2>¿Qué es Sonorus?</h2>
            </div>
            <p>
                <strong>Más que música, conexiones reales.</strong> En un mundo donde cada uno escucha con audifonos.
                Sonorus propone quitar los auriculares y abrir el alma. Nuestra plataforma no solo
                te conecta con canciones, sinó con personas que lo sienten como tú. Explora nuevos
                géneros, comparte nuevos playlist favoritos, conoce personas que vibran con las mismas
                emociones sonoras y forma parte de una comunidad donde la música es el idioma común.
                Porque tus gustos no son algoritmos: son reflejos de quién eres.
            </p>
        </section>


    </article>

    <article>
        <section>

            <div>
                <h2>Funcionalidades</h2>
            </div>
            <em>Conecta, comparte y experimenta la música de manera diferente</em>

        </section>

        <section>

            <h3>Perfiles musicales personalizados</h3>
            <p>
                Crea tu perfil, selecciona tus géneros, artistas y canciones favoritas.
                Haz visible tu personalidad a través de tu música.
            </p>

        </section>

        <section>

            <h3>Perfiles musicales personalizados</h3>
            <p>
                Crea tu perfil, selecciona tus géneros, artistas y canciones favoritas.
                Haz visible tu personalidad a través de tu música.
            </p>

        </section>

    </article>

    
    </section>



<!-- Leonard: Carrusel -->
<div class="bg-black min-h-[50vh] flex flex-col items-center justify-start px-4 md:px-24 py-8">
  <h1 class="text-white text-center font-bold text-2xl md:text-[32px] w-full font-inria">
    Disfruta de tus músicas favoritas
  </h1>
  <p class="text-white text-center mt-3 w-full text-sm md:text-base font-normal font-poppins">
    Una selección de álbumes imprescindibles que han resistido la prueba del tiempo y siguen emocionando a nuevas generaciones de oyentes
  </p>
  <!-- Carrusel de álbumes -->
  <div class="w-full flex flex-col items-center mt-8">
    <div class="relative flex items-center justify-center w-full max-w-xs md:max-w-lg">
      <button id="prevBtn"
        class="absolute left-0 top-1/2 -translate-y-1/2 bg-white/20 text-white rounded-full w-10 h-10 flex items-center justify-center text-xl md:text-2xl shadow-md hover:bg-white/40 transition-all duration-200 active:scale-90 z-10">
        ←
      </button>
      <div id="carousel-container" class="overflow-hidden mx-auto w-full">
        <div id="carousel" class="flex gap-2 md:gap-4 transition-transform duration-500 will-change-transform">
        </div>
      </div>
      <button id="nextBtn"
        class="absolute right-0 top-1/2 -translate-y-1/2 bg-white/20 text-white rounded-full w-10 h-10 flex items-center justify-center text-xl md:text-2xl shadow-md hover:bg-white/40 transition-all duration-200 active:scale-90 z-10">
        →
      </button>
    </div>
  </div>
</div>
