---

---

<!-- Aqui empezar trabajo de Piero -->
<section
  class="h-[400px] md:h-[600px] flex justify-center items-center md:items-start flex-col gap-5 text-white text-center md:text-left bg-gradient-to-br from-[#831011] via-[#300000] to-[#831011] px-10 md:px-30"
>
  <h1 class="font-h font-bold text-4xl md:text-8xl italic">Sonorus</h1>
  <p class="font-p font-light">
    Conecta con personas que sienten la música <span class="font-bold"
      >como tú</span
    >. Comparte, descubre y vibra en comunidad.
  </p>
  <button
    class="py-3 px-6 bg-black text-white rounded-full gap-3 cursor-pointer flex items-center font-p transition duration-300 transform hover:scale-105"
    >Únete a la comunidad<img
      src="/iconForButton.svg"
      alt="icono"
      class="w-auto h-5 transition-transform duration-300"
    />
  </button>
</section>

<!-- Aquí continuar trabajo de Angel -->

<!-- Aquí finalizar trabajo de Leonard -->
