---

---

<!-- Aqui empezar trabajo de Piero -->
<section
  class="h-[400px] md:h-[600px] bg-gradient-to-br from-[#831011] via-[#300000] to-[#831011] w-full"
>
  <div
    class="flex justify-center items-center h-full md:items-start flex-col gap-5 text-white text-center md:text-left px-10 md:px-30 container mx-auto"
  >
    <h1 class="font-h font-bold text-4xl md:text-8xl italic">Sonorus</h1>
    <p class="font-p font-light">
      Conecta con personas que sienten la música <span class="font-bold"
        >como tú</span
      >. Comparte, descubre y vibra en comunidad.
    </p>
    <button
      class="py-3 px-6 bg-black text-white rounded-full gap-3 cursor-pointer flex items-center font-p transition duration-300 transform hover:scale-105"
      >Únete a la comunidad<img
        src="/iconForButton.svg"
        alt="icono"
        class="w-auto h-5 transition-transform duration-300"
      />
    </button>
  </div>
</section>

<!-- Aquí continuar trabajo de Angel -->





<section class=" bg-black">

  <section class= "flex flex-col justify-center items-center container mx-auto bg-black text-white  ">
  

    <article class="flex flex-row justify-center items-center px-32 py-16 gap-32">

      <section class="w-1/2 flex flex-cols-2 gap-4 max-h-250 overflow-hidden">
        <section class="flex flex-col space-y-4">
          <img src="/album_4.webp" class="w-full h-auto"/>
          <img src="/album_1.webp" class="w-full h-auto"/>
          <img src="/album_6.webp" class="w-full h-auto"/> 
        </section>

        <section class="flex flex-col space-y-4">
          <img src="/album_7.webp" class="w-full h-auto"/>
          <img src="/album_2.webp" class="w-full h-auto"/>
          <img src="/album_3.webp" class="w-full h-auto"/>       
        </section>
      </section>

      <section class="w-1/2 flex flex-col justify-center items-center overflow-hidden" >
        <section class="w-full">
          <h2 class="font-h text-center text-5xl p-4 ">¿Qué es <strong class="font-normal text-red-600 whitespace-normal break-words">Sonorus?</strong></h2>
        </section>

        <p class="font-p font-light text-justify ">
          <strong class="font-bold">Más que música, conexiones reales.</strong> En un mundo donde cada
          uno escucha con audifonos. Sonorus propone quitar los auriculares y abrir
          el alma. Nuestra plataforma no solo te conecta con canciones, sinó con personas
          que lo sienten como tú. Explora nuevos géneros, comparte nuevos playlist
          favoritos, conoce personas que vibran con las mismas emociones sonoras y
          forma parte de una comunidad donde la música es el idioma común. Porque tus
          gustos no son algoritmos: son reflejos de quién eres.
        </p>
      </section>

    </article>



    <article>

      <section class="text-center ">
        <section>
          <h2 class="font-h text-5xl p-2">Funcionalidades</h2>
        </section>

        <em class=" not-italic font-p font-extralight text-2xl ">Conecta, comparte y experimenta la música de manera diferente</em>

      </section>

      <section class=" grid grid-cols-2 gap-4 px-35 py-15 whitespace-normal break-words">
      
        <section class="bg-[#530b0c] rounded-lg px-5 py-6">
          <h3 class="text-center text-xl">1. Perfiles musicales personalizados</h3>
          <p class="text-justify">
            Crea tu perfil, selecciona tus géneros, artistas y canciones favoritas.
            Haz visible tu personalidad a través de tu música.
          </p>
        </section>

        <section class="bg-[#530b0c] rounded-lg px-5 py-6">
          <h3 class="text-center text-xl">2.Creación y descubrimiento de playlists</h3>
          <p class="text-justify">
            Arma tus propias playlists, decúbrelas hechas por otros usuarios y 
            compártelos con la comunidad. 
          </p>
        </section>

        <section class="bg-[#530b0c] rounded-lg px-5 py-6">
          <h3 class="text-center text-xl">3. Recomendaciones humanas</h3>
          <p class="text-justify">
            Recibe recomendaciones personalizadas de personas reales, basados 
            en tus gustos y emociones, no solo en estadísticas.
          </p>
        </section>

        <section class="bg-[#530b0c] rounded-lg px-5 py-6">
          <h3 class="text-center text-xl">4. Grupos de afinidad musical</h3>
          <p class="text-justify">
            Únete a grupos según tus géneros favoritos o a tus estados de ánimo.
            Participa en foros y charlas con quienes vibran igual.
          </p>      
        </section>

        <section class="bg-[#530b0c] rounded-lg px-5 py-6">
          <h3 class="text-center text-xl">5. Eventos y actividades online</h3>
          <p class="text-justify">
            Participa en escuchas grupales, reviews de álbunes, trivias musicales, retos de playlist y más.
          </p>
        </section>

        <section class="bg-[#530b0c] rounded-lg px-5 py-6">
          <h3 class="text-center text-xl">6. Mensajería y conexiones</h3>
          <p class="text-justify">
            Conoce gente que comparte tu pasión, comparte mensajes privados o deja 
            comentarios en perfiles y playlists.
          </p>
        </section>
      </section>

    </article>

  </section>

</section>







<!-- Leonard: Carrusel -->
<div
  class="bg-black flex flex-col items-center justify-start px-4 md:px-24 py-8 w-full"
>
  <div class="container mx-auto">
    <h1
      class="text-white text-center font-bold text-2xl md:text-[32px] w-full font-inria"
    >
      Disfruta de tus músicas favoritas
    </h1>
    <p
      class="text-white text-center mt-3 w-full text-sm md:text-base font-normal font-poppins"
    >
      Una selección de álbumes imprescindibles que han resistido la prueba del
      tiempo y siguen emocionando a nuevas generaciones de oyentes
    </p>
    <!-- Carrusel de álbumes -->
    <div class="w-full flex flex-col items-center mt-8">
      <div
        class="relative flex items-center justify-center w-full max-w-xs md:max-w-lg"
      >
        <button
          id="prevBtn"
          class="absolute left-0 top-1/2 -translate-y-1/2 bg-white/20 text-white rounded-full w-10 h-10 flex items-center justify-center text-xl md:text-2xl shadow-md hover:bg-white/40 transition-all duration-200 active:scale-90 z-10"
        >
          ←
        </button>
        <div id="carousel-container" class="overflow-hidden mx-auto w-full">
          <div
            id="carousel"
            class="flex gap-2 md:gap-4 transition-transform duration-500 will-change-transform"
          >
          </div>
        </div>
        <button
          id="nextBtn"
          class="absolute right-0 top-1/2 -translate-y-1/2 bg-white/20 text-white rounded-full w-10 h-10 flex items-center justify-center text-xl md:text-2xl shadow-md hover:bg-white/40 transition-all duration-200 active:scale-90 z-10"
        >
          →
        </button>
      </div>
    </div>
  </div>
</div>
