---
import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" href="/logo.webp" />
  </head>
  <body class="bg-[#1C1111]">
    <slot />
  </body>
</html>
